<div>
  <button *ngIf="!authService.checkAuth()" (click)="authService.login()">login</button>
</div>
<div id="main-container">
<div id="button-container">
  <button (click)="clearCurrentWall()">Очистить стену от конкурсов</button>
  <button (click)="clearLastYearsPosts()">Очистить стену от конкурсов прошлых лет</button>
  <button (click)="getAndCleanAllWall()">Очистить всю стену и вернуть ссылки на посты</button>
  <button (click)="getRemovedPosts()">
    открыть удаленные конкурсы
  </button>
</div>

  <div>
    <p *ngIf="currentPostClean!=null">было удалено {{currentPostClean}} постов</p>
    <p *ngIf="lastPostClean!=null">было удалено {{lastPostClean}} постов</p>
  </div>

  <form id="column-container">
    <label for="postUrl">ссылка на пост</label>
    <input [formControl]="postUrl" id="postUrl"/>
    <button (click)="addExclusion()" type="button">Добавить пост в исключения</button>
  </form>

</div>
