
#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  background-color: cornflowerblue;
  border-radius: 10px;
  padding: 5px;
}

button:hover {
  background-color: darkslategrey;
}

button:active {
  background-color: grey;
}

#column-container {
  width: 30%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
